
body
{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("newback.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  

}

.navbar {
  overflow: hidden;
  background-color:green;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.bucket{
	text-align:center;
	width:200px;
	height:100px;
	background-color:green;
	margin:auto;
	margin-top:60px;


	/*clip-path:polygon(0 20%,70% 20%,70% 0%,100% 50%,70% 100%,70% 80%,0 80%)*/;
}

.bucket a,h3{
	color:white;
	font-size:2em;
	text-decoration:none;
	font-family: "Copperplate",fantasy;
	
}
.bucket:hover{
  background-color:blue;
}
@media screen and (max-width:768px){
 
  
} 
